attrs
click
colorama
coverage
dataclasses
flake8
Flask
future
gunicorn
importlib-metadata
iniconfig
itsdangerous
Jinja2
mando
MarkupSafe
mccabe
mock
packaging
pluggy
py
pycodestyle
pyflakes
pyparsing
pytest
pytest-cov
pytest-subtests
radon
six
toml
typing-extensions
Werkzeug
zipp
